body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

/* nav */

nav{
    background-color: #ffff;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    box-shadow: 1px 0px 28px 3px rgba(0, 0, 0, 0.116);
}

.nav-container{
    display: flex;
    width: 50%;
    justify-content: flex-end;
}

.nav-lista{
    display: flex;
    list-style: none;

}

.nav-links{
    color: #2e2e31;
    display: flex;
    font-weight: 400;
    text-decoration: none;
    padding: 20px;
}

/* header */