body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

/* nav */

nav{
    display: flex;
    justify-content: center;
    background-color: #ffff;
    width: 100%;
    box-shadow: 1px 0px 28px 3px rgba(0, 0, 0, 0.116);
    box-sizing: border-box; /* arreglar, no funciona ! */
    position: fixed;
    top: 0;
}

.nav-container{
    display: flex;
}

.nav-list{
    display: flex;
    font-size: 18px;
    list-style: none;
}

.nav-links{
    color: #2e2e31;
    display: flex;
    font-weight: 300;
    text-decoration: none;
    padding: 10px 20px;
}

 .nav-links:hover{
    color: #005C7A;
}

.nav-links:active{
    box-sizing: border-box;
    border: 1px solid #005C7A;
    border-radius: 30px;
} 

.nav-proyects{
    margin-right: 15px;
}

.nav-contact{
    color: #ffff;
    background-color: #005C7A;
    border-radius: 30px;
}

.nav-contact:hover{
    color: #ffff;
}

.nav-contact:active{
    color: #ffff;
    background-color: #024157;
    box-shadow: 0px 0px 8px 0px #005C7A;
}

/* header */

header{
    display: flex;
    justify-content: center;
}

.header-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 220px;
}

div > h2{
    color: #2E2E31;
    font-size: 30px;
    font-weight: 900;
}

div > h1{
    color: #005C7A;
    font-size: 50px;
    margin-top: 0;
}

div > p{
    font-weight: 300;
    padding-bottom: 20px;
}

.header-button{
    color: #ffff;
    background-color: #005C7A;
    text-decoration: none;
    border-radius: 30px;
    padding: 10px 20px;
}

.header-button:hover{
    color: #ffff;
}

.header-button:active{
    color: #ffff;
    background-color: #024157;
    box-shadow: 0px 0px 8px 0px #005C7A;
}

.container-right-img{
    height: 400px;
    width: 600px;
}

/* conocimientos */

section{
    background-color: #F6F7FB;
    padding: 100px;
}

.skills-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skills-title{
    color: #000;
    font-size: 50px;
    font-weight: 900;
}

.skills-comment{
    font-size: 20px;
}

.skills-cards{
    width: 50%;
    display: flex;
	justify-content: space-evenly;
	align-items: center;
    padding: 30px;
}

.skills-cards-box{
    height: 230px;
    width: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.116);
    border-radius: 10px;
}

.skills-cards-box:hover{
    color: #005C7A;
    border: 1px solid #005C7A;
}

.skills-cards-box:active{
    box-shadow: 0px 0px 8px 0px #005C7A;
}

.fab{
    font-size: 80px;
}

.fa-html5{
    color: #E54D26;
}

.fa-css3-alt{
    color: #3D8FC6;
}

.fa-sass{
    color: #CC6699;
}

.fa-js{
    color: #F0DB4F;
}

.fa-react{
    color: #7FE1FB;
}

.fa-git-alt{
    color: #F34F29;
}

.skills-txt{
    font-size: 18px;
    font-weight: 900;
}

/* quote */

.quote{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #005C7A;
}

.fa-quote-right {
    color: #ffff;
    font-size: 80px;
}

blockquote{
    color: #ffff;
    font-size: 35px;
    font-weight: 300;
}

.quote-txt{
    color: #ffff;
    font-size: 30px;
}

/* proyectos */

.proyects{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffff;
}

.proyects-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 1180px;
}

.proyects-title{
    color: #000;
    font-size: 50px;
    font-weight: 900;
}

.proyects-txt{
    font-size: 20px;
}

.proyects-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
}

.proyects-cards{
    height: 370px;
    width: 350px;
    text-decoration: none;
    border: 1px solid rgba(0, 0, 0, 0.116);
    border-radius: 10px;
    margin: 20px;
}

.proyects-cards:hover{
    background-color: #005C7A;
}

.proyects-cards:active{
    box-shadow: 0px 0px 8px 0px #005C7A;
}

.proyects-img{
    width: 80%;
    padding: 20px;
    border-radius: 30px;
}

.proyects-txt-card{
    color: #000;
    font-size: 20px;
}

